.reviewForm {
    font-size: 14px;
    line-height: 24px;
    display: grid;
    grid-template-columns: [start] auto 1fr auto [end];
    gap: 20px 30px;
    align-items: center;
}

.descr  {
    grid-column: start/end;
}

.submit {
    grid-column: start/end;
    display: flex;
    gap: 10px;
}

.titleInput {
    justify-self: left;
}

.raiting {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.submitBtn {
    width: 148px;
    height: 35px;
}

.success {
    background-color: var(--green-light);
    padding: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}

.error {
     background-color: var(--red-light);
     padding: 20px;
     position: relative;
     border-radius: 5px;
     margin-top: 20px;
}

.successTitle {
    font-weight: bold;
}

.close {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.error .close path {
    stroke: var(--red);
}

@media screen and (max-width: 1115px) {
    .reviewForm {
        grid-template-columns: [start] 1fr 1fr  [end];
    }

    .titleInput {
        justify-self: unset;
    }

    .raiting {
        grid-column: start/end ;
    }

    
}

@media screen and (max-width: 640px) {
    .reviewForm {
        grid-template-columns:[start]1fr[end];
    }

    
}