@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #B3C0D9;
	--gray-dark:#6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #5234c9;
	--orange: #FC836D;
	--green: #127a4f;
	--green-light: #C8F8E4;
	--red: #DE0000;
	--red-light: #ff7c7c;
	--font-family: 'Noto Sans KR', sans-serif;
}
